@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@600&family=Lato:wght@300;400;700&family=Nunito:wght@300;400;500;700&display=swap");

:root {
  --fontColorPrimary: #39374e;
}

* {
  font-family: "Nunito", sans-serif;
}

.login .grid {
  height: 100vh;
}

.dashboard .logo-container {
  max-height: 100px;
  padding: 20px 40px;
  position: sticky;
  top: 0px;
}

.login .logo {
  max-width: 200px;
  margin-bottom: 25px;
}

.login h3 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  letter-spacing: 0.05em;
  color: var(--fontColorPrimary);
  margin: 0px;
}

.login h5 {
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #3f3d56;
  margin: 5px 0px 55px 0px;
}

.login .my_input {
  outline: 2px solid #fc7c7b !important;
  border: none !important;
  color: #fc7c7b !important;
  margin: 5px 0px !important;
}

.login .my_input::placeholder {
  color: #fc7b7b96 !important;
}

.login .login_btn {
  background: #fc7c7b;
  color: white;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.05em;
}

.login .login_btn:hover {
  background-color: #fc7c7b;
  color: white;
}

.dashboard .user-card {
  background-color: #f8f8f8;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  margin-top: 120px;
  padding: 15px 0px;
}

.dashboard .user-card h4 {
  color: #5c5c5c;
}

.dashboard .user-card img {
  width: 64px;
  border: 3px solid gray;
  border-radius: 50%;
}

.dashboard .user-card .column {
  padding: 10px 20px !important;
  text-align: right;
}

.dashboard .user-card .column h5 {
  color: #b1b1b1;
}

.dashboard .add-btn {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 40px;
}
.dashboard .sideInfo {
  position: sticky;
  top: 120px;
}
.dashboard .dashboard-body {
  margin-top: 0px;
}

.expense-card {
  margin: 10px 0px 5px;
}

.expense-card h5 {
  text-transform: capitalize;
}



